<div class="flex flex-col">
  <div *ngIf="favorita" class="text-2xl font-semibold">
    <h1>La pelicula Favorita es: {{favorita.title| capitalize}}</h1>
  </div>
  <div>
    <h1>{{ titulo }}</h1>
    <button
      class="bg-blue-600 text-white px-2 py-1 rounded font-bold"
      (click)="cambiarTitulo()"
    >
      Cambiar
    </button>
  </div>
</div>
