<div class="h-1 bg-angularRed"></div>
<div class="h-32 bg-white flex items-center justify-between w-full border-b">
    <div class=" flex items-center justify-center pl-40">
        <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="logo" class="h-32 transition duration-200 transform hover:-translate-y-1 hover:scale-110">
        <h1 class="text-2xl"><span class="font-bold">Curso</span>Angular</h1>
    </div>
    <div class="pr-16">
        <ul class="inline-block flex">
            <li *ngFor="let link of links" class="px-4 text-lg transition duration-200 hover:text-angularRed">
                <a [routerLink]="[link.path]" [routerLinkActive]="'text-angularRed'">{{link.title}}</a>
            </li>
        </ul>
    </div>
</div>