<Slider [nombre]="'Hola desde el componente padre'"></Slider>
<div class="flex items-center justify-between">
  <div class="  flex flex-col items-center w-full">
    <h1 class="text-3xl font-bold">Ultimos Articulos</h1>
    <MiComponente></MiComponente>
  </div>

  <div class="pt-4 pr-2 w-1/4">
    <SideBar></SideBar>
  </div>
</div>
