<div class="w-full container-slider red-gradient flex flex-col items-center justify-center" [ngClass]="{'h-72':size == 'small', 'h-96': !size || size == 'big'}">
    <h1 class="text-3xl text-white font-bold ">{{nombre}}</h1>
    <div class="py-2" *ngIf="rutaActual != 'blog'">
        <button class="text-md px-2 py-2 rounded bg-white hover:bg-gray-300 transition duration-200">
            <a [routerLink]="['/blog']">IR AL BLOC</a>
        </button>
    </div>
</div>