<h2 class="text-lg">{{titulo}}</h2>
<p class="text-gray-500">{{comentario}}</p>
<p class="text-gray-400 text-sm">{{year}}</p>

<div class="h-2"></div>

<div *ngIf="mostrarPeliculas">
    <button (click)="ocultarPeliculas()" class="px-2 py-1 font-bold bg-red-600 text-white rounded">Ocultar</button>
</div>
<div *ngIf="!mostrarPeliculas">
    <button (click)="ocultarPeliculas()" class="px-2 py-1 font-bold bg-green-600 text-white rounded">Mostrar</button>
</div>
<div *ngIf="mostrarPeliculas">
    <Peliculas></Peliculas>
</div>
