<Slider [nombre]="'Blog'" size="small"></Slider>
<div class="text-center pt-2">
  <h1 class="text-3xl font-bold">Blog</h1>
  <div class="flex items-center justify-between w-full">
    <div class="text-3xl">
        <h1>Contanido de por aca</h1>
    </div>
    <div class="pr-2">
        <SideBar></SideBar>
    </div>
  </div>
</div>
