<Slider [nombre]="'Peliculas'"></Slider>
<div class="text-center pt-2 px-2">
  <h1 class="text-3xl font-bold border-b border-gray-400 py-2">Peliculas</h1>
  <div class="py-2 flex justify-between">
    <div class="w-3/4">
      <Peliculas [favorita] = peliculaFav></Peliculas>
    </div>
    <SideBar></SideBar>
  </div>
  <hr />
  <Pelicula 
  [peliculas]=listaPeliculas
  (MarcarFavorita)="fav($event)"
  ></Pelicula>
</div>
