<div class="flex flex-col items-center">
    <div
      *ngFor="let pelicula of peliculas"
      class="py-2 flex w-1/2 border border-gray-400 my-5  items-start rounded-md transition-shadow duration-150 hover:shadow-md"
    >
      <img
        src="{{ pelicula.image }}"
        alt="imagen"
        class="h-64 px-4 transition-transform duration-200 transform hover:-translate-y-1 hover:scale-110"
      />
      <div class="flex flex-col items-start">
        <div class="flex items-baseline space-x-8">
            <h1 class="font-bold" [ngClass]="pelicula.title.length >= 23?'text-xl':'text-2xl'" >{{ pelicula.title| capitalize }}</h1>
            
            <h2 class="text-white font-bold px-2 py-1 rounded-full" [ngClass]="pelicula.year <=2016?'bg-angularRed':'bg-customGreen'">{{pelicula.year}}</h2>
        </div>
        <h2 class="text-gray-600 text-md">Descripcion de las peliculas</h2>
        <p class="font-bold text-gray-600 text-xs">Leer mas...</p>
        <button (click)="favorita($event, pelicula)" class="bg-blue-500 rounded py-1 px-2 text-white hover:bg-blue-300 transition duration-200 ease-linear mt-2">
            Agregar Favorita
        </button>
      </div>
    </div>
</div>