<div class="flex flex-col">
    <div class="bg-gray-200 px-12 flex flex-col items-center mb-8 py-4">
        <h1 class="text-xl font-bold">PUEDES HACER ESTO</h1>
        <div class="h-px bg-gray-600 w-full  mb-3"></div>
        <button class="px-2 py-2 rounded bg-customGreen font-semibold text-white hover:bg-black transition duration-200 ease-out transform hover:-translate-y-1 hover:scale-110">CREAR ARTICULO</button>
    </div>
    <div class="bg-gray-200 text-center py-4 px-4 flex flex-col items-center">
        <h1 class="text-xl font-bold px-12">BUSCADOR</h1>
        <div class="h-px bg-gray-600 w-full"></div>
        <h1 class="py-1">Encuentra el articulo que buscas</h1>
        <input type="text" class="my-2 shadow-md border border-gray-400">
        <button class="bg-black text-white font-semibold rounded w-1/2 py-2 transform transition duration-200 hover:scale-110">BUSCAR</button>
    </div>
</div>
