<Slider [nombre]="'Pagina de pruebas'"></Slider>
<div class="text-center pt-2">
  <h1 class="text-3xl font-bold">Pagina 2</h1>
  <div *ngIf="nombre && apellido;then siHayParametros else noHayParametros">
    
  </div>

  <ng-template #siHayParametros>
    <h2 class="text-2xl">El nombre es : {{ nombre }}</h2>
    <h2 class="text-2xl">El apellido es : {{ apellido }}</h2>
  </ng-template>
  <ng-template #noHayParametros>
     <div>
      <h1 class="text-3xl font-bold py-3">No existe Nombre ni apellido de usuario</h1>
      <button (click)="addName()" class="bg-gray-200 border mb-2 border-gray-700 rounded px-2 py-2 transition duration-150 ease-in-out hover:bg-white font-semibold">Ponerme nombre y apellidos</button>
     </div>
</ng-template>

  <button (click)="redirect()" class="bg-gray-200 border border-gray-700 rounded px-2 py-2 transition duration-150 ease-in-out hover:bg-white font-semibold">Redireccion</button>
</div>
