<Slider [nombre]="'Formulario'"></Slider>
<div class="text-center pt-2 flex flex-col items-center">
  <h1 class="text-3xl font-bold border-b border-gray-300 w-full mb-2">
    Formulario
  </h1>
  <hr />
  <div
    class="flex flex-col items-start w-1/3 rounded h-auto py-2 px-4 border border-gray-400"
  >
    <form
      class="flex flex-col items-start w-full"
      #userForm="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group w-full flex flex-col items-start">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="rounded border border-gray-400 w-full"
          name="nombre"
          #nombre="ngModel"
          [(ngModel)]="user.nombre"
          required
        />
        <p *ngIf="nombre.touched && !nombre.valid" class="text-red-600 text-sm">
          Nombre invalido
        </p>
      </div>
      <div class="form-group w-full flex flex-col items-start">
        <label for="apellidos">Apellidos</label>
        <input
          type="text"
          class="rounded border border-gray-400 w-full"
          name="apellidos"
          #apellidos="ngModel"
          [(ngModel)]="user.apellidos"
          required
        />
        <p
          *ngIf="apellidos.touched && !apellidos.valid"
          class="text-red-600 text-sm"
        >
          Apellidos invalido
        </p>
      </div>
      <label for="biografia">Biografia</label>
      <textArea
        class="rounded border border-gray-400 w-full"
        name="bio"
        #bio="ngModel"
        [(ngModel)]="user.bio"
      ></textArea>
      <div class="flex py-3">
        <input
          type="radio"
          #genero="ngModel"
          [(ngModel)]="user.genero"
          value="hombre"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <label for="Otro" class="px-2">Hombre</label>
        <input
          type="radio"
          #genero="ngModel"
          [(ngModel)]="user.genero"
          value="mujer"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <label for="Mujer" class="px-2">Mujer</label>
        <input
          type="radio"
          #genero="ngModel"
          [(ngModel)]="user.genero"
          value="otro"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <label for="Otro" class="px-2">Otro</label>
      </div>
     <input type="submit" [disabled]="userForm.invalid" value="Enviar" class="rounded py-1 px-2 bg-angularRed transition-colors duration-200 ease-in-out hover:bg-blue-500 font-bold text-white">
    </form>
  </div>
</div>
